<%- include('templates/header') -%>
<!--Carousel Wrapper-->
<!-- Card -->
<div class="container">
    <div class="row">
        <div class="col-sm-1 my-auto">
            <button onclick="nextBook()" class="scroll-button"><i class="fas fa-angle-left fa-2x"></i></button>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top" src="https://m.media-amazon.com/images/I/5187PQgDScL._SY346_.jpg"
                    alt="Card image cap">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title center" id="card-1"><a>The Hobbit</a></h4>
                    <!-- Text -->
                    <p class="card-text">An timeless classic, from the father of the high fantasy genre.</p>
                    <!-- Button -->
                    <a href="/results" class="black-text d-flex justify-content-end">
                        <h5>Read Reviews <i class="fas fa-angle-double-right"></i></h5>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-sm-3 active-card">
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top" src="https://m.media-amazon.com/images/I/41lnLrvBnML.jpg"
                    alt="Card image cap">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title center" id="card-2"><a>Harry Potter and the Sorcerer's Stone</a></h4>
                    <!-- Text -->
                    <p class="card-text">The novel that started a generation of magic and adventure.</p>
                    <!-- Button -->
                    <a href="/results" class="black-text d-flex justify-content-end">
                        <h5>Read Reviews <i class="fas fa-angle-double-right"></i></h5>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-sm-3">
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top"
                    src="https://i2.wp.com/www.tor.com/wp-content/uploads/2019/07/Dune-cover-1.jpg?type=vertical&ssl=1"
                    alt="Card image cap">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title center" id="card-3"><a>Dune</a></h4>
                    <!-- Text -->
                    <p class="card-text">A triumph of the imagination and one of the bestselling science fiction novels
                        of all time.</p>
                    <!-- Button -->
                    <a href="/results" class="black-text d-flex justify-content-end">
                        <h5>Read Reviews <i class="fas fa-angle-double-right"></i></h5>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-sm-1 my-auto">
            <button class="scroll-button"><i class="fas fa-angle-right fa-2x"></i></button>
        </div>
    </div>
</div>
<script>

</script>
<%- include('templates/footer') -%> 